{
  "bracketSpacing": true,
  "printWidth": 120,
  "proseWrap": "always",
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.sol", "*.SOL"],
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": ["*.ts", "*.TS"],
      "options": {
        "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
        "importOrderParserPlugins": ["typescript"],
        "importOrderSeparation": true,
        "importOrderSortSpecifiers": true
      }
    }
  ]
}
